.header {
  width: 100%;
  height: 64px;
  padding: 0 15vw;
  background-color: #1d1e21;
  border-bottom: 1px solid hsla(0,0%,100%,.12);
}

.header-contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-btn {
  text-decoration: none;
  color: #b2bbc7;
  border: 2px solid #858a91;
  padding: 6px;
}

.header-logo {
  width: 8vw;
}

.menu {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.user-noicon {
  object-fit: cover;
  width:  50px;
  height: 50px;
  margin-right: 2px;
}

.user_nav {
  position: relative;
}

.user_nav span {
  color: white;
  display: block;
  float: left;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

.user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

.user_nav ul{
  display: none;
  position: absolute;
  width: 180px;
  background-color: #1d1e21;
  padding-left: 0;
  text-decoration: none;
  color: white;
}

.user_nav li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  color: white;
  text-decoration: none;
}


.logout_nav span {
  color: white;
  margin: 0 10px;
}

.login-btn {
  text-decoration: none;
  color: white;
}

.sign-up-btn {
  text-decoration: none;
  color: white;
}
