.header {
  width: 100%;
  padding: 2vh 5vw;
  background-color: #1d1e21;
  border-bottom: 1px solid hsla(0,0%,100%,.12);
}

.header-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
}

.input-box {
  width: 50%;
  height: 5vh;
  padding-left: 10px;
  border-radius: 30px;
  border: 0;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #1d1e21;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.factor-icon {
  width: 10vw;
  margin-right: 20vw;
}

/* ナビゲーションバー*/

.menu {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.user-noicon {
  object-fit: cover;
  width:  50px;
  height: 50px;
  margin-right: 2px;
}

.user_nav {
  position: relative;
  top: 5px;
}

.user_nav span {
  color: white;
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

.user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

.user_nav ul{
  display: none;
  position: absolute;
  width: 180px;
  background-color: #1d1e21;
  padding-left: 0;
  text-decoration: none;
  color: white;
}

.user_nav li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  color: white;
  text-decoration: none;
}


.user_info span {
  color: white;
  margin: 0 10px;
}

.login {
  text-decoration: none;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}

.post-btn {
  text-decoration: none;
  color: white;
}