<footer class="footer">
  <div class="footer-contents">
    <ul class="footer-nav">
      <li><%= link_to "お問い合わせ", "#", class: "footer-menu" %></li>
      <li><%= link_to "利用規約", "#", class: "footer-menu" %></li>
      <li><%= link_to "プライバシーポリシー", "#", class: "footer-menu" %></li>
    </ul>
    <p class="footer-coppyright">Copyright ©️ FACTOR All rights reserved.</p>
  </div>
</footer>