<div class="chat-room">
  <h1>メッセージ</h1>
  <% @RoomUsers.each do |r| %> 
  <div class="user-name">
  <strong>
      <a class="rooms-user-link" href="/users/<%= r.user.id %>">
        <%= r.user.nickname %>さん
      </a>
  </strong>
  </div>

  <% end %>
</div>