<%= render "shared/header" %>

<div class="post-list">
  <h2 class="title">投稿一覧</h2>
  <div class="post-contents">
    <div class="post-content">
      <%= link_to image_tag("protostype-3.jpg", class:"post-video"), "/" %>
      <div class="post-title">
        阿部祐也プレー集①
      </div>
      <div class="post-date">
        2021/3/3(Wed) 12:16
      </div>
      <div class="post-user">
        阿部祐也
      </div>
    </div>

    <div class="post-content">
      <%= link_to image_tag("hero.jpg", class:"post-video"), "/" %>
      <div class="post-title">
      阿部祐也プレー集②
      </div>
      <div class="post-date">
        2021/3/3(Wed) 12:16
      </div>
      <div class="post-user">
        阿部祐也
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>