
.main {
  background-color: black;
  width: auto;
  height: auto;
}

.search {
  display: flex;
  justify-content: center;
  padding: 10vh 30vw;
  height: 100%;
  
}

.search-form {
  padding: 11px 16px;
  border-radius: 8px;
  border: 0;
  color: hsla(0,0%,100%,.86);
  background-color: #33343a;
  width: 100%;
}
.search-btn {
  background: none;
  border: 0;
  color: gray;
  padding-left: 5px;
}

/* 投稿一覧 */
.post-contents {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
}

.title {
  padding-left: 15vw;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 5vh;
}

.post-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.list {
  width: 300px;
  background-color: #1d1e21;
  margin: 6vh 20px;
  padding: 20px 20px;
  border-radius: 20px;
}

.youtube_url {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

.video {
  height: 200px;
  width: 100%;
  border-radius: 20px;
}

.post-title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;  
}

.list a {
  text-decoration: none;
}

.post-date {
  color: hsla(0,0%,100%,.4);
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid hsla(0,0%,100%,.4);
}

.post-user {
  padding-top: 8px;
  display: flex;
  align-items: center;
}

.post-user a{
  color: white;
}

.user-image {
  border-radius: 100px;
  object-fit: cover;
  width:  30px;
  height: 30px;
  margin-right: 5px;
}

.user-noicon {
  object-fit: cover;
  width:  50px;
  height: 50px;
  margin-right: 5px;
}


