
/* 投稿一覧 */

.post-contents {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
}

.title {
  padding-left: 15vw;
  font-size: 3vh;
  font-weight: bold;
  padding-bottom: 50px;
}

.post-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  list-style: none;
}

.list {
  width: 50vh;
  background-color: #1d1e21;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
}

.video {
  height: 33vh;
  width: 100%;
  border-radius: 20px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  color: white;
}

.list a {
  text-decoration: none;
}

.post-date {
  color: hsla(0,0%,100%,.4);
  font-size: 12px;
  padding: 20px 0;
  border-bottom: 1px solid hsla(0,0%,100%,.4);
}

.post-user {
  padding-top: 10px;
}



.post-video {
  width: 30vw;
  height: 20vh;
}