
.post-main {
  background-color: black;
  padding: 12vh 28vw 50vh;
}

.post-form {
  background-color: #242424;
  color: white;
  border-radius: 18px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.post-form-title {
  color: hsla(0,0%,100%,.86);
  text-align: center;
  line-height: 100px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid hsla(0,0%,100%,.08);
}

.new-post {
  color: hsla(0,0%,100%,.86);
  padding: 10px 20px;
}

.new-post-title {
  margin: 40px 5px 0;
  font-size: 15px;
  font-weight: bold;
}

/*テキストボックス*/
.post-text {
  width: 100%;
  padding: 11px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: 0;
  background-color: #33343a;
  color: white;
}

.post-text#post-explain {
  padding-bottom: 80px;
}
/* /テキストボックス*/

/* ボタン*/
.new-post-action {
  width: 100%;
  text-align: center;
  margin: 10vh 0;
}
.new-post-btn {
  padding: 15px 20px;
  color: white;
  background-color: #ff3651;
  border: 0;
  border-radius: 12px;
  font-weight: bold;
}

.new-back-btn {
  color: white;
}

/* /ボタン*/



