
.post-contents {
  background-color: black;
  padding-top: 80px;
  color: white;
}

.post-main {
  background-color: #242424;
  width: 50%;
  border-radius: 18px;
  margin-bottom: 50vh;
  margin: 0 auto;
}

.post-main-title {
  color: hsla(0,0%,100%,.86);
  text-align: center;
  line-height: 100px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid hsla(0,0%,100%,.08);
}

.new-posts {
  color: hsla(0,0%,100%,.86);
  margin: 30px 20px;
}

.new-posts-title {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 15px;
}

/*テキストボックス*/
.post-text {
  width: 100%;
  padding: 11px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: 0;
  background-color: #33343a;
  color: white;
}


.post-text#post-explain {
  padding-bottom: 80px;
}

/* /テキストボックス*/

/* ボタン*/
.actions {
  width: 100%;
  margin-bottom: 80px;
  text-align: center;
}

.submit-btn {
  width: 100%;
  height: 50px;
  margin: 50px 0;
  background-color: #ff3651;
  color: white;
  border: 0;
  border-radius: 12px;
  font-weight: bold;
}

.back-btn {
  padding: 15px 35%;
  background-color: #aaa;
  color: white;
  border: 0;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
}

/* /ボタン*/



