.register-contents {
  background-color: black;
  height: 100%;
  padding: 80px 0;

}

.form-area position {
  color: white;
}

.register-btn {
  width: 100%;
  padding: 11px 16px;
  margin-bottom: 50px;
  background-color: #ff3651;
  border: 0;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.button-area {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 50px;
  padding-bottom: 50px;
}

.button-area #position {
  margin-right: 100px;
}
