.registration {
  height: 100%;
}
.button-area {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  padding-bottom: 5vh;
  width: 100%;
}

.form-player {
  margin-right: 10vw;
}