.user-show-info {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

/*ユーザーの詳細情報*/
.user-show-data {
  padding: 10vh 20vw;
  color: #a1a1a6;;
}
.user-show-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5vh;
  color: white;
}
.user-show-header {
  font-size: 18px;
  font-weight: bold;
  width: 15vw;
  padding: 10px 0;
}
.user-show-calumn {
  font-size: 18px;
}
/*//ユーザーの詳細情報*/

/*チャットルームに遷移するボタン*/
.show-chat-btn {
  padding: 0 20vw;
  height: auto;
  display: flex;
  align-items: center;
}
.chat-btn {
  text-decoration: none;
  padding: 11px 16px;
  background-color: #ff3651;
  border: 0;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}
/*//チャットルームにボタン*/

/*編集ページに遷移するボタン*/
.edit-user-btn {
  padding: 0 20vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-user-btn a {
  text-decoration: none;
  padding: 11px 16px;
  background-color: #ff3651;
  border: 0;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}
/*//編集ページに遷移するボタン*/

/*ユーザーの投稿一覧*/
.show-contents {
  padding: 20vh 20vw;
  background-color: black;
}
.show-contents-title {
  font-weight: bold;
  font-size: 25px ;
}
/*//ユーザーの投稿一覧*/